<!doctype html>
<html lang="pl" ng-app="App">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="kaVSmodG-IqTuIsjx8ZX7JpRYPx27L3r9Vl7zRhFphI" />

  <title>VESOUI</title>


<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="main.css">
<link rel="icon" href="images/favicon.png">
<script src="js/angular.min.js"></script>
<script src="app.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130954356-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130954356-1');
</script>
</head>

<body ng-controller="MainCtrl">
    <div class="container">
  <a href="/"><img class="logo" src="logo.png" /></a>


    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <span class="visible-xs visible-sm ">
                <ul class="nav navbar-nav">
                        <li><a ng-click="gender='men'">MĘŻCZYZNA</a></li>
                        <li><a ng-click="gender='girl'">KOBIETA</a></li>
                        <li><a href="/collections.htm">KOLEKCJE</a></li>
                        <li><a href="#">INFO</a></li>
                </ul>
            </span>
            <span class="visible-lg visible-md">
                <ul class="nav navbar-nav navbar-center">
                         <li><a ng-click="gender='men'">MĘŻCZYZNA</a></li>
                        <li><a ng-click="gender='girl'">KOBIETA</a></li>
                        <li><a href="/collections.htm">KOLEKCJE</a></li>
                        <li><a href="#">INFO</a></li>
                </ul>
            </span>
        </div>
      </div>
    </nav>



        
  
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
    <table>
    <tr ng-repeat="x in clothing | filter:gender" ng-if="$even">
        <td>
            <div class="hvrbox">
            <a ng-href={{x.link}}><img ng-src={{x.photos}} ng-mouseover="alert('xD')" class="img-responsive photo hvrbox-layer_bottom" ></img></a>
            <div class="hvrbox-layer_top hvrbox-layer_slideup">
		<div class="hvrbox-text">{{x.price}} PLN <br/><br/><br/> <a ng-href={{x.link}}><button class="button">WIĘCEJ</button></a> </div>
	</div>
        </div>
        </td>
       
    </tr>
    </table>
        </div>
        <div class="col-md-4 ">
    <table>
    <tr ng-repeat="x in clothing | filter:gender" ng-if="$odd">
     <td>
            <div class="hvrbox">
            <a ng-href={{x.link}}><img ng-src={{x.photos}} class="img-responsive photo hvrbox-layer_bottom" ></img></a>
            <div class="hvrbox-layer_top hvrbox-layer_slideup">
		<div class="hvrbox-text">{{x.price}} PLN <br/><br/><br/> <a ng-href={{x.link}}><button class="button">WIĘCEJ</button></a> </div>
	</div>
        </div>
        </td>
    </tr>
    </table>
            </div>
    </div>
 

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="js/bootstrap.min.js"></script>
     
</body>
</html>
